
#menu-button {

	float: right;
}
.menu-btn {
	background-color:#39ac73;
	opacity: 0.8;
	border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
	border-radius: 12px;
	width:100px;
	height:50px;
}

.welcome {
	text-align:center;
	margin-top: 100px;
	margin-bottom: 75px;
    display: inline-block;
    width: 100%;
	font-size:300%;
	color: white;
}
.login{
    text-align: center;
}
#user, 
#password{
	width:220px;
	height:40px;
	text-align: center;
	border: none;
	border-radius: 12px;
	font-size:20px;
	opacity:0.7;
}
.user-data {
	width:220px;
	height:40px;
	text-align: center;
	border: none;
	border-radius: 12px;
	font-size:20px;
	opacity:0.7;
	margin-right: auto;
	margin-left: auto;
	display:block;
	margin-top: 1%;
	margin-bottom: 1%;
}
.submit-btn {
	width:220px;
	height:40px;
	text-align: center;
	border-radius: 12px;
	font-size:20px;
	color:white;
	border: none;
	background-color: #39ac73;
}
#register-form {display: none;
border: none;
}
#register-btn,.trash-button,#Import-btn{
	margin-right: auto;
	margin-left: auto;
	display:block;
	margin-top: 1%;
	margin-bottom: 1%;
	width:auto;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

#fieldname,#zone, 
#Coordinate, #pedoclimatic,
#registrationNr, #dimensions,
#mentions , #landType,
#landValue, #interests {
	display:inline-block;
	border: none;
	border-radius: 5px;
	font-size:20px;
	opacity:0.7;
	padding:1px 4px 1px 4px;
	float:right;
	margin-right:5%;
	margin-left:5%;
	width:33%;
}

.fields{
	display:block;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 5%;
	margin-left: 20%;
	border: none;
	border-radius: 7px;
	font-size:24px;
	opacity:1;
	color:white;
	width:60%;
	
}
#t01 td div{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: auto;
	margin-left: 10%;
	border: none;
	border-radius: 7px;
	opacity:0.9;
	text-align: left;
}

#add-field-form {
	margin-top: 3%;
	}

#mentions {
	height:75px;
	width:33%;
	margin-right: 38%;
}
#Add-button {
	margin : 0px 45%;
}
#owner{
	margin-top: 5%;
	margin-bottom: 1%;
	margin-right: auto;
	margin-left: 20%;
	font-size:20px;
	color:white;
}
#t01 {
    border-collapse: collapse;
    width: 60%;
    margin:3% 20% 3% 20%;
    background-color: #f1f1c1;
	opacity:0.9;
	
}
#t01 td div, #t01 th div {
	display:inline;
	font-size:150%;
}
#t01 td, #t01 th {
    padding: 2%;
}
#t01 th {
	margin-bottom:5px;
	background-color:#39ac73;
}
#t01 td input[type = "text"] {width: 84%;}
#t01 tr:nth-child(even) {
	background-color: #f2f2f2;
}

#t01 tr:hover { 
	background-color: #ddd;
}

#t01 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #39ac73;
    color: white;
}
.trash-button {
	display:inline-block;
	font-size: 18px;
	font-family: FontAwasome;
	color:darkblue;
}

 @media only screen and (max-width: 600px) { 
     body { 
         background-color: lightblue;
     }
	 #t01 td div, #t01 th div {
		 display:inline; 
		 font-size:150%; 
		 text-align: center; 
	 } 
	.words,#mentions{
		 color: blue;
		 font-size: xx-small; 
		 text-align: center; 
		 margin-left: 20%; 
		 margin-right: 20%; 
	 } 
 }
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
 #harta {
	width: 105%;
	height: 100%;
	border: 2px solid #16a085;
	margin-bottom: 175px !important;
}
  }
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	   #harta {
	width: 105%;
	height: 100%;
	border: 2px solid #16a085;
	margin-bottom: 175px !important;
	}
  }
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  }
.words {
	color: white;
font-size: xx-large;
text-align: center;
margin-left: 20%;
margin-right: 20%;
}
#harta {
	width: 105%;
	height: 100%;
	border: 2px solid #16a085;
	margin: 5%;
}
.display-map {
	width: 20%;
	height: 30%;
	margin: 2% 20% 2% 0;
	float: right;
	
	
}
